{% extends "/master/logged_in.html" %}
{% block content %}
<div class="container pt-5 mt-5">
    <!-- Tabs for switching between Table and Calendar -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            {%if current_user.account_type == 'admin'%}
            <a class="nav-link active" id="table-tab" data-bs-toggle="tab" href="#tableView" role="tab">All Bookings</a>
            {%else%}
            <a class="nav-link active" id="table-tab" data-bs-toggle="tab" href="#tableView" role="tab">Your Bookings</a>
            {%endif%}
        </li>
    </ul>

    <div class="tab-content pt-3">
        <!-- Table View Content -->
        <div class="tab-pane fade show active" id="tableView" role="tabpanel">
            <div class="row pt-5">
                <div class="col-12">
                    {%if current_user.account_type == 'admin'%}
                    <a href="#" class="btn btn-sm btn-outline-light float-end" title="Add New"
                        onclick="addBookingAdmin()">
                        <i class="fas fa-add me-2"></i>Add New
                    </a>

                    {%else%}
                    <a href="/bookings" class="btn btn-sm btn-outline-light float-end" title="Add New">
                        <i class="fas fa-add me-2"></i>Add New
                    </a>
                    {%endif%}
                    <h5><span id="usercount" class="me-2">0</span>Bookings</h5>
                </div>
                <div class="col-12 pt-2">
                    <div id="example-table" class="mb-3"></div>
                </div>
            </div>
        </div>

    
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="mdeditpet" tabindex="-1" aria-labelledby="mdeditpet" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog modal-lg-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Edit Pet</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="hfpetRef">
                <div class="form-outline mb-2">
                    <label class="form-label" for="editname">Name</label>
                    <input type="text" id="editname" class="form-control" />
                </div>
                <div class="form-outline mb-2">
                    <label class="form-label" for="editbreed">Breed</label>
                    <input type="text" id="editbreed" class="form-control" />
                </div>
                <div class="row">
                    <div class="col-5">
                        <div class="form-outline mb-2">
                            <label class="form-label" for="editdob">DOB</label>
                            <input type="date" id="editdob" class="form-control" />
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="form-outline mb-2">
                            <label class="form-label" for="editchip">Microchip</label>
                            <input type="text" id="editchip" class="form-control" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-outline mb-2">
                            <label class="form-label" for="editgender">Gender</label>
                            <select type="text" id="editgender" class="form-select">
                                <option value="1">Male</option>
                                <option value="0">Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-outline mb-2">
                            <label class="form-label" for="editneutered">Neutered</label>
                            <select type="text" id="editneutered" class="form-select">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="justify-content: space-between;">
                <button type="button" class="btn btn-danger" onclick="deletepet();"><i
                        class="fas fa-trash me-2"></i>Delete pet</button>
                <button type="button" class="btn login_button" onclick="updatepet();"><i
                        class="fas fa-save me-2"></i>Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdaddpet" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="mdaddpet" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog modal-lg-centered">
        <div class="modal-content">

            <!-- Modal header -->
            <div class="modal-header">
                <h1 class="modal-title fs-5">Add New Pet</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form>
                    <!-- Name input -->
                    <div class="form-outline mb-2">
                        <label class="form-label" for="clientName">Client</label>
                        <select type="text" id="clientName" class="form-select">
                            {% for user in users %}
                            <option value="{{user.id}}">{{user.firstname}} {{user.surname}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-outline mb-2">
                        <label class="form-label" for="addname">Name</label>
                        <input type="text" id="addname" class="form-control" />
                    </div>
                    <div class="form-outline mb-2">
                        <label class="form-label" for="addbreed">Breed</label>
                        <input type="text" id="addbreed" class="form-control" />
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <div class="form-outline mb-2">
                                <label class="form-label" for="adddob">DOB</label>
                                <input type="date" id="adddob" class="form-control" />
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="form-outline mb-2">
                                <label class="form-label" for="addchip">Microchip</label>
                                <input type="text" id="addchip" class="form-control" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-outline mb-2">
                                <label class="form-label" for="addgender">Gender</label>
                                <select type="text" id="addgender" class="form-select">
                                    <option value="1">Male</option>
                                    <option value="0">Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-outline mb-2">
                                <label class="form-label" for="addneutered">Neutered</label>
                                <select type="text" id="addneutered" class="form-select">
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div id="AlertPlaceholder">
                    </div>

                    <div class="d-grid gap-2 mt-2">
                        <button type="button" class="btn login_button" type="button" onclick="addpet();"><i
                                class="fas fa-plus me-2"></i>Add New Pet</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="addBookingAdminModal" tabindex="-1" aria-labelledby="addBookingModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addBookingModalLabel">Add New Booking</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Content for adding a new booking -->
                <!-- Add form fields here, for example: -->
                <div class="mb-3">
                    <label for="bookingName" class="form-label">Booking Name</label>
                    <select class="form-control" id="bookingName" name="bookingName" required>
                        <option value="">Select Booking Name</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="clientNameBooking" class="form-label">Client Name</label>
                    <select onchange="filterPets()" class="form-control" id="clientNameBooking" name="clientNameBooking"
                        required>
                        <option value="">Select Client Name</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="petName" class="form-label">Pet Name</label>
                    <select class="form-control" id="petName" name="petName" required>
                        <option value="">Select Pet Name</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="addBookingDate" class="form-label">Booking Date</label>
                    <input type="datetime-local" class="form-control" id="addBookingDate" name="addBookingDate"
                        required>
                </div>
                <!-- Additional fields as needed -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="adminCreateBooking()" class="btn btn-primary">Save Booking</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Booking Modal -->
<div class="modal fade" id="editBookingModal" tabindex="-1" aria-labelledby="editBookingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editBookingModalLabel">Edit Booking</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form for editing booking details -->
                <form id="editBookingForm">
                    <div class="mb-3">
                        <label for="editBookingName" class="form-label">Booking Name</label>
                        <input disabled type="text" class="form-control" id="editBookingName" name="bookingName"
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="editBookingClient" class="form-label">Client Name</label>
                        <input disabled type="text" class="form-control" id="editBookingClient" name="bookingClient"
                            required>

                    </div>
                    <div class="mb-3">
                        <label for="editBookingPet" class="form-label">Pet Name</label>
                        <input disabled type="text" class="form-control" id="editBookingPet" name="bookingPet" required>

                    </div>
                    <div class="mb-3">
                        <label for="editBookingDate" class="form-label">Booking Date and Time</label>
                        <input type="datetime-local" class="form-control" id="editBookingDate" name="bookingDate"
                            required>

                    </div>
                    <!-- Additional fields as needed -->
                    <input type="hidden" id="editBookingId" name="id">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="saveEditBooking()" form="editBookingForm" class="btn btn-primary">Save
                    Changes</button>
            </div>
        </div>
    </div>
</div>


<script>
    var menuIcon = function (cell, formatterParams, onRendered) { //plain text value
        return "<i class='fa fa-edit'></i>";
    };
    var deleteIcon = function (cell, formatterParams, onRendered) { //plain text value
        return "<i class='fa fa-trash'></i>";
    };
    var table = new Tabulator("#example-table", {
        layout: "fitColumns",
        // initialSort: [
        //     { column: "booking_date", dir: "asc" }  // Sort by booking_date in ascending order
        // ],
        columns: [
            { title: "id", field: "id", field: "secret", download: false, visible: false },
            { title: "firstname", field: "firstname", field: "secret", download: false, visible: false },
            { title: "surname", field: "surname", field: "secret", download: false, visible: false },
            { title: "Class", field: "title", sorter: "string", resizable: true, headerFilter: "input", widthGrow: 1 },
            { title: "Pet", field: "pet_name", sorter: "string", headerFilter: "input", download: false, visible: true },
            {
                title: "Owner",
                field: "Owner",
                sorter: "string",
                resizable: true,
                headerFilter: "input",
                widthGrow: 1,

                mutator: function (value, data, type, params, component) {
                    // Combine firstname and surname
                    return data.firstname + " " + data.surname;
                }
            },
            { title: "Date", field: "booking_date", sorter: "string", headerFilter: "input", resizable: true, widthGrow: 1 },
            // { title: "Paid", field: "status", headerSort: false, resizable: true, width: 60, hozAlign: "center" },
            {%if current_user.account_type == 'admin' %}
            {
            formatter: menuIcon,
            width: 40,
            hozAlign: "center",
            cellClick: function (e, cell) {
                const bookingId = cell.getRow().getData().id;
                showEditModal(bookingId);  // Call function to show the modal with booking data
            },
            headerSort: false
        },
        {
            formatter: deleteIcon,
            width: 40,
            hozAlign: "center",
            cellClick: function (e, cell) {
                const bookingId = cell.getRow().getData().id;
                deleteBookingAdmin(bookingId);  // Call function to show the modal with booking data
            },
            headerSort: false
        }
            {% endif %}
        ],
    });

    table.on("dataFiltered", function (filters, rows) {
        document.getElementById("usercount").innerHTML = rows.length;
    });

    $(document).ready(function () {
        var ajaxConfig = {
            method: "POST", //set request type to Position
            headers: {
                "Content-type": 'application/json; charset=utf-8', //set specific content type
            },
        };
        table.setData("/bookings_json");
    });

    function adminCreateBooking() {
        // Get values from the form fields
        const bookingId = document.getElementById("bookingName").value;
        const clientId = document.getElementById("clientNameBooking").value;
        const petId = document.getElementById("petName").value;
        const bookingDate = document.getElementById("addBookingDate").value;

        // Check if all fields are filled (simple client-side validation)
        if (!bookingName || !clientNameBooking || !petName || !bookingDate) {
            alert("Please fill in all required fields.");
            return;
        }

        // Prepare data to send
        const data = {
            bookingId: bookingId,
            clientId: clientId,
            petId: petId,
            bookingDate: bookingDate
        };

        sendDataUrl('/admin_create_booking', JSON.stringify(data), function (response) {
            location.reload()
        })

    }

    function deleteBookingAdmin(bookingId) {
        // Show confirmation popup
        if (confirm("Are you sure you want to delete this booking?")) {
            // If the user confirms, proceed with the deletion
            var data = {
                booking_id: bookingId
            };
            sendDataUrl('/admin_delete_booking', JSON.stringify(data), function (response) {
                location.reload();
            });
        } else {
            // If the user cancels, do nothing
            console.log("Booking deletion canceled by user.");
        }
    }
    function saveEditBooking() {
        var data = { booking_id: document.getElementById('editBookingId').value, booking_date: document.getElementById('editBookingDate').value };
        sendDataUrl('/save_edit_booking', JSON.stringify(data), function (response) {
            location.reload()
        })
    }

    function showEditModal(bookingId) {
        // Open the modal
        const modal = new bootstrap.Modal(document.getElementById('editBookingModal'));

        var data = {
            booking_id: bookingId
        };
        sendDataUrl('/admin_get_booking', JSON.stringify(data), function (response) {
            document.getElementById('editBookingId').value = response.id;
            document.getElementById('editBookingName').value = response.title;
            document.getElementById('editBookingClient').value = response.firstname + ' ' + response.surname;
            document.getElementById('editBookingPet').value = response.pet_name;
            const bookingDate = new Date(response.booking_date);
            const formattedDate = bookingDate.toISOString().slice(0, 16);
            console.log(formattedDate);
            document.getElementById('editBookingDate').value = formattedDate;
            modal.show();
        });

    }

    function addBookingAdmin() {
        // Define your data object for the requests
        const data = { /* Add your required data here */ };

        // Create two promises for the asynchronous requests
        const productsPromise = new Promise((resolve, reject) => {
            sendDataUrl('/get_all_products', JSON.stringify(data), function (response) {
                console.log(response);
                populateDropdown("bookingName", response);
                resolve(); // Resolve the promise after populating the dropdown
            });
        });

        const clientsPromise = new Promise((resolve, reject) => {
            sendDataUrl('/get_all_clients', JSON.stringify(data), function (response) {
                console.log(response);
                populateDropdown("clientNameBooking", response);
                filterPets();
                resolve(); // Resolve the promise after populating the dropdown
            });
        });

        const bookingDate = new Date();
        const formattedDate = bookingDate.toISOString().slice(0, 16); // Format as "YYYY-MM-DDTHH:MM"
        console.log(formattedDate);
        document.getElementById('addBookingDate').value = formattedDate;


        // Wait for both requests to complete before showing the modal
        Promise.all([productsPromise, clientsPromise
        ]).then(() => {
            const modal = new bootstrap.Modal(document.getElementById('addBookingAdminModal'));
            modal.show();
        });
    }


    function filterPets() {
        var data = {
            client_id: document.getElementById('clientNameBooking').value
        };
        const petsPromise = new Promise((resolve, reject) => {
            sendDataUrl('/get_filtered_pets', JSON.stringify(data), function (response) {

                console.log(response);
                populateDropdown("petName", response);
                resolve(); // Resolve the promise after populating the dropdown
            });
        })

    }


    function populateDropdown(selectId, optionsData) {
        const selectElement = document.getElementById(selectId);
        selectElement.innerHTML = "";  // Clear existing options

        // Check if optionsData is an array or object and adjust accordingly
        if (Array.isArray(optionsData)) {
            // If it's an array of objects with `id` and `name`, convert it to { id: name }
            optionsData.forEach(item => {
                const opt = document.createElement("option");
                opt.value = item.id;
                opt.textContent = item.name;
                selectElement.appendChild(opt);
            });
        } else {
            // If it's already in { uuid: 'displayText' } format
            Object.entries(optionsData).forEach(([uuid, text]) => {
                const opt = document.createElement("option");
                opt.value = uuid;
                opt.textContent = text;
                selectElement.appendChild(opt);
            });
        }
    }





    function addpet() {
        showLoadingOverlay();
        var data = {
            client_id: document.getElementById("clientName").value,
            name: document.getElementById("addname").value,
            breed: document.getElementById("addbreed").value,
            dob: document.getElementById("adddob").value,
            microchip: document.getElementById("addchip").value,
            gender: document.getElementById("addgender").value,
            neutered: document.getElementById("addneutered").value
        };
        sendDataUrl('/pets_add', JSON.stringify(data), function (response) {
            location.reload();
        });
    }

    function showeditmd(petRef) {
        showLoadingOverlay();
        document.getElementById("hfpetRef").value = petRef;
        var data = { petRef: petRef };
        sendDataUrl('/loadpetdetails', JSON.stringify(data), function (response) {
            document.getElementById("editname").value = response[0]['name'];
            document.getElementById("editbreed").value = response[0]['breed'];
            document.getElementById("editdob").value = response[0]['dob'];
            document.getElementById("editchip").value = response[0]['microchip'];
            document.getElementById("editgender").value = response[0]['gender'] ? 1 : 0;
            document.getElementById("editneutered").value = response[0]['neutered'] ? 1 : 0;
            $('#mdeditpet').modal('show');
            hideLoadingOverlay();
        });
    }

    function signup() {
        // Get the values from the input fields
        showLoadingOverlay();
        document.getElementById('signupAlertPlaceholder').innerHTML = '';
        var registerName = document.getElementById('registerName').value;
        var registersurName = document.getElementById('registersurName').value;
        var registerEmail = document.getElementById('registerEmail').value;
        var registerPhone = document.getElementById('registerPhone').value;
        var registerCheck = document.getElementById('registerCheck').checked;

        // Regular expression for validating an email address
        var emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
        // console.log(registerCheck);
        if (emailPattern.test(registerEmail) && registerName != '' && registerPhone != '' & registerCheck == true) {
            var data = {
                registerEmail: registerEmail.toLowerCase(),
                registerName: registerName,
                registersurName: registersurName,
                registerPhone: registerPhone,
            };
            sendDataUrl('/signup', JSON.stringify(data), function (response) {
                if (response['error'] == 500) {
                    var alertDiv = document.createElement('div');
                    alertDiv.className = 'alert alert-warning alert-dismissible fade show';
                    alertDiv.role = 'alert';
                    alertDiv.textContent = 'user already added to system';
                    var closeButton = document.createElement('button');
                    closeButton.type = 'button';
                    closeButton.className = 'btn-close';
                    closeButton.setAttribute('data-bs-dismiss', 'alert');
                    closeButton.setAttribute('aria-label', 'Close');
                    alertDiv.appendChild(closeButton);
                    document.getElementById('signupAlertPlaceholder').appendChild(alertDiv);
                } else {
                    location.reload();
                }
            });
        } else {
            var alertDiv = document.createElement('div');
            alertDiv.className = 'alert alert-warning alert-dismissible fade show';
            alertDiv.role = 'alert';
            alertDiv.textContent = 'please complete all fields first';
            var closeButton = document.createElement('button');
            closeButton.type = 'button';
            closeButton.className = 'btn-close';
            closeButton.setAttribute('data-bs-dismiss', 'alert');
            closeButton.setAttribute('aria-label', 'Close');
            alertDiv.appendChild(closeButton);
            document.getElementById('signupAlertPlaceholder').appendChild(alertDiv);
            hideLoadingOverlay();
        }
    }

    function updatepet() {
        showLoadingOverlay();
        var data = {
            petRef: document.getElementById("hfpetRef").value,
            name: document.getElementById("editname").value,
            breed: document.getElementById("editbreed").value,
            dob: document.getElementById("editdob").value,
            microchip: document.getElementById("editchip").value,
            gender: document.getElementById("editgender").value,
            neutered: document.getElementById("editneutered").value
        };

        sendDataUrl('/pet_update', JSON.stringify(data), function (response) {
            location.reload();
        });
    }
    function deletepet() {
        if (confirm("Do you want to delete this pet") == true) {
            showLoadingOverlay();
            var data = { petRef: document.getElementById("hfpetRef").value }
            sendDataUrl('/pet_delete', JSON.stringify(data), function (response) {
                location.reload();
            });
        }
    }

</script>

{% endblock %}