{% extends "/master/initial_page.html" %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>

<section id="hero" class="d-flex align-items-center">
  <video autoplay muted loop id="myVideo" style="filter: blur(7px);">
    <source src="/static/videos/dtr_cover_video.mp4" type="video/mp4">
  </video>
  <div class="col-12 position-absolute text-center" data-aos="fade-up" data-aos-delay="500" style="background-color: rgba(0,0,0,0.6) !important; height: 500px; align-content: center;">
    <img src="/static/images/apple-touch-icon.png" class="img-fluid" style="width:150px;" title="Welcome to Dog Training Revolution"><br>
    <h1 class="mt-5">Welcome to Dog Training Revolution</h1>
    <!-- <h3 class="pb-3">Where Excellence in Puppy Training Begins</h3> -->
    <div class="row align-items-center">
      <!-- <div class="col-12" data-aos="fade-right" data-aos-anchor-placement="top-center">
        <p>
          At Dog Training Revolution, we offer exclusive, results-driven puppy training based on the acclaimed Life
          Skills for Puppies program developed by Lincoln University. Our approach goes beyond basic obedience, focusing
          on life skills that empower your puppy to grow into a confident, well-mannered dog ready to face any
          situation.
        </p>
      </div> -->
      <!-- <div class="col-12" data-aos="fade-right" data-aos-anchor-placement="top-center">
        <div class="d-inline-flex gap-2 mb-5">
          <a href="#classes"
            class="d-inline-flex align-items-center btn login_button btn-lg px-4 rounded-pill">Classes</a>
          <a href="#contact" class="btn login_button_outer btn-lg px-4 rounded-pill">Contact Us</a>
        </div>
      </div> -->
    </div>
  </div>
</section>
<section id="about" class="pt-5 background-div">
  
  <div class="row d-flex align-items-stretch pb-5">
    <div class="col-12 col-lg-6 mb-5">
      <div class="bio-section h-100 m-5 rounded-3">
        <div class="row align-items-center h-100">
          <div class="col-12">
            <h1 class="title text-center pb-4">Who we are:</h1>
            <p class="bio-text">
              
              <span class="float-end col col-xs-12 col-sm-4 col-lg-12 text-center pb-5">
                <img src="/static/images/rachel_trafford_dog_trainer.jpeg" alt="Rachel ABTC and IAABC-certified dog training professional" class="bio-image mb-3">
                <!-- <a href="tel:+447540959387" class="h5 mt-3"><i class="fas fa-phone me-2"></i>07540 959387</a> -->
                <!-- <br> -->
                <a href="#contact" class="btn login_button btn-lg px-4 rounded-pill mt-2">Get in Touch</a>
              </span>            
              Rachel Trafford is an ABTC and IAABC-certified dog training professional, bringing decades of experience and a proven track record of success to every class. Known for her pioneering approach, Rachel was honoured with the People Pet Award for Innovation by The Mirror in 2024. As the resident dog training expert for Moorlands Radio, Rachel offers practical advice to struggling dog owners during live phone-ins.
            </p>
            <p class="bio-text">
              Rachel has served as an advisor to numerous rescue charities and frequently consults on complex behavioural referrals. With her qualifications in counselling, she brings a unique blend of empathy and expertise to support clients through the adjustments needed to address canine behavioural challenges. Rachel also collaborates closely with veterinary surgeons, ensuring that clients receive comprehensive, high-quality guidance for even the most complex behavioural issues.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 mb-5">
      <div class="bio-section h-100 m-5 rounded-3">
        <div class="row align-items-center h-100">
          <div class="col-12">
            <h1 class="title text-center pb-4">Who we are:</h1>
            <p class="bio-text">
              <span class="float-end col col-xs-12 col-sm-4 col-lg-12 text-center pb-5">
                <img src="/static/images/laura_morgan_dog_trainer.jpeg" alt="Laura dog behavioural training" class="bio-image mb-5">
                <!-- <a href="tel:+447412667890" class="h5 mt-3"><i class="fas fa-phone me-2"></i>07412 667890</a>
                <br> -->
                <a href="#contact" class="btn login_button btn-lg px-4 rounded-pill mt-2">Get in Touch</a>
              </span>   
              Laura has an in-depth practical background working with large guarding breed dogs, gaining her knowledge and extensive skills with such dogs from working all over the country. She has spent years studying canine psychology and genetic influences and the impact such things can have on companion and working dogs to apply this in her behavioural work.
            </p>
            <p class="bio-text">
              Laura has also hosted popular training workshops for professionals across the UK, collaborating with other industry experts. She often mentors other dog trainers and behaviourists in the hopes of improving and supercharging the effectiveness and quality of dog training that is offered to owners in the future.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="classes" class="pt-5 pb-3" style="background-color: rgba(255,255,255,0.1);">
    <div class="text-center mb-4">
      <h2>Our Training Classes</h2>
      <p>Choose the perfect class for your puppy’s needs and start the journey to excellence in training.</p>
    </div>

    <div class="row">

      {% for product in products%}

      <div class="col-md-6 col-lg-4 mb-4">
        <div class="m-3 card h-100 shadow rounded-3" style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('{{ product.image_base64 if product.image_base64 else "/static/images/dog_walk_and_train.jpeg" }}'); background-size: cover; background-position: center; background-repeat: unset;">

          <div class="row p-3">
            <div class="col-12 text-center">
              <h5 class="card-title" style="font-family: 'Lora', serif!important;">{{product.title}}</h5>
              <image src="/static/images/apple-touch-icon.png" class="img-fluid float-end" style="width:100px;" title="{{product.title}}"></image>
              <p class="card-text text-white text-start">{{product.short_desc}}</p>
              <a href="/external/bookings" class="btn login_button btn-lg px-4 rounded-pill mt-2 text-center me-2"><i class="fas fa-sterling-sign me-1"></i>{{ "%.2f" | format(product.price) }} Book</a>
              <button type="button" class="btn login_button btn-lg px-4 rounded-pill mt-auto text-center " data-bs-toggle="modal" data-bs-target="#{{product.id}}"><i class="fas fa-info"></i></button>
            </div>
          </div>
          
          <div class="modal fade" id="{{product.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div
              class="modal-dialog modal-lg modal-dialog modal-lg-centered modal-dialog modal-lg-scrollable modal-lg modal-fullscreen-lg-down">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">{{product.title}}</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-black" style="white-space: pre-line;">
                  {{product.full_desc}}
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      {%endfor%}
    </div>
</section>

<section id="contact" class="pt-5 pb-3  background-div">
  <div class="container">
    <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"></div>

    <div class="row gy-4">

      <div class="col-md-6">
        <div class="info-wrap">
          <div class="info-item d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-telephone flex-shrink-0"></i>
            <div>
              <h3>Contact Rachel</h3>
              <p><i class="fas fa-phone me-2"></i><a href="tel:+447540959387" class="text-white">07540 959387</a></p>
            </div>
          </div>
          <div class="info-item d-flex aos-init aos-animate mt-3" data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-telephone flex-shrink-0"></i>
            <div>
              <h3>Contact Laura</h3>
              <p><i class="fas fa-phone me-2"></i><a href="tel:+447412667890" class="text-white">07412 667890</a></p>
            </div>
          </div>

          <div class="info-item d-flex aos-init aos-animate mt-3" data-aos="fade-up" data-aos-delay="400">
            <i class="bi bi-envelope flex-shrink-0"></i>
            <div>
              <h3>Email Us</h3>
              <p><i class="fas fa-envelope me-2"></i><a href="mailto:info@dogtrainingrevolution.org.uk"
                  class="text-white">info@dogtrainingrevolution.org.uk</a></p>
            </div>
          </div>
          <div class="col-12 mt-5 mb-5">
            <h4 class="pb-3">Follow Us</h4>
            <div class="social-links d-flex">
              <a target="_blank" href="https://www.facebook.com/profile.php?id=61565965954785"><i
                  class="fa-brands fa-facebook social_links me-3"></i></a>
              <a target="_blank"
                href="https://www.instagram.com/dogtrainingrevolutionk9?fbclid=IwY2xjawGF81lleHRuA2FlbQIxMAABHdMID6ZIb5uYDXS2XmJhAedynIfTLOdVs9hYUmeksuN_WtTSZdAfUSqNfA_aem_kDBzkfFByrIYd_vTL2mELg"><i
                  class="fa-brands fa-instagram social_links"></i></a>
            </div>
          </div>
          <div class="row bg-white m-3 align-items-center rounded-3">
            <div class="col-6">
              <image src="/static/images/abtc.jpg" class="img-fluid" alt="abtc registered"></image>
            </div>
            <div class="col-6">
              <image src="/static/images/IAABC.png" class="img-fluid" alt="iaabc certified"></image>
            </div>
          </div>
          
        </div>
      </div>
      <div class="col-md-6">
        <div id="divEmailSuccess" class="row gy-4 rounded-3 text-center" style="padding-bottom: 20px; background-color: rgba(0,0,0,0.8); border: #d4a373 1px solid; display: none;" class="php-email-form aos-init" data-aos="fade-up" data-aos-delay="200">
          <h5>Thanks for your message</h5>
          <p>We will respond as soon as possible</p>
        </div>
        <div id="divEmail" class="row gy-4 rounded-3" style="padding-bottom: 20px; background-color: rgba(0,0,0,0.8); border: #d4a373 1px solid;"
          class="php-email-form aos-init" data-aos="fade-up" data-aos-delay="200">

          <div class="col-md-6">
            <label for="name-field" class="pb-2">Your Name</label>
            <input type="text" name="name" id="name-field" class="form-control" required>
          </div>

          <div class="col-md-6">
            <label for="email-field" class="pb-2">Your Email</label>
            <input type="email" class="form-control" name="email" id="email-field" required>
          </div>

          <div class="col-md-12">
            <label for="subject-field" class="pb-2">Subject</label>
            <input type="text" class="form-control" name="subject" id="subject-field" required>
          </div>

          <div class="col-md-12">
            <label for="message-field" class="pb-2">Message</label>
            <textarea class="form-control" name="message" rows="10" id="message-field" required></textarea>
          </div>

          <div class="col-md-12 text-center">
            <div class="d-grid gap-2">
              <button type="button" class="btn btn-outline-light login_button " onclick="sendEmail();">Send Message</button>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</section>

<section id="reviews" class="pt-5 pb-3" style="background-color: rgba(255,255,255,0.1);">
  <div class="container py-5" style="min-height: 600px!important; align-content: center;">
    <h2 class="text-center mb-4">Hear what our clients have to say</h2>

    <div class="row" data-masonry="{&quot;percentPosition&quot;: true }" style="position: relative; height: 690px;">
      <div class="col-12 col-md-6 mb-4" style="position: absolute; left: 0%; top: 0px;">
        <div class="card review_item">
          <div class="card-body">
            <p class="card-text">Laura has been working with our golden retriever Ozzy for a while now, and we still make sure he has a weekly training walk with her! It’s the absolute highlight of his week. When we started training, I was genuinely at a lost cause as to how to make walks enjoyable, he was constantly pulling and I was struggling to control him on lead walks which I used to dread. Since working with Laura, we noticed an instant improvement which has only got better and better. He is a totally different dog. It was in there all along and Laura helped to bring it out of him. We now enjoy daily family walks both on and off the lead and it’s no longer a stress! Cannot recommend her enough. She is so knowledgable about so many things around behaviour, and provided loads of guidance on harnesses, leads, nutrition and more! A 10/10 from us and we will be staying with Laura for as long as she’ll have us 😄</p>
            <h5 class="card-title">Team Ozzy. Training Package & Walk & Train</h5>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-4" style="position: absolute; left: 0%; top: 0px;">
        <div class="card review_item">
          <div class="card-body">
            <p class="card-text">We are throughly enjoying our puppy training classes!<br>It has been very helpful already and only on week 2!<br>Rachel & Laura are so knowledgable and very helpful with puppy advice - thankyou !</p>
            <h5 class="card-title">Team Nelly: Puppy Life Skills Classes</h5>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-4" style="position: absolute; left: 0%; top: 0px;">
        <div class="card review_item">
          <div class="card-body">
            <p class="card-text">Rachel did a full assessment of our dogs watching their behaviour and observing the triggers.  She fully explained what was going on for the dogs and demonstrated techniques based on positive reinforcement ( which our boys loved ).  After the assessment session Rachael gave us a write up of the strategies we need to implement.<br>We found her very personable.... the dogs loved her and her approaches were based on kindness and reward a really positive experience for us all :)</p>
            <h5 class="card-title">Team Angie: Behaviour Assessment</h5>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<script>
  function sendEmail() {
    showLoadingOverlay();
    document.getElementById('liveAlertPlaceholder').innerHTML = '';
    var emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
    if (emailPattern.test(document.getElementById("email-field").value)) {
      var data = {
          name: document.getElementById("name-field").value,
          email: document.getElementById("email-field").value,
          subject: document.getElementById("subject-field").value,
          message: document.getElementById("message-field").value
      };
      sendDataUrl('/send_email', JSON.stringify(data), function (response) {
        if (response['message'] == "success"){
          document.getElementById("divEmail").style.display="none";      
          document.getElementById("divEmailSuccess").style.display="";
        }
        hideLoadingOverlay();
      });
    } else {
        var alertDiv = document.createElement('div');
        alertDiv.className = 'alert alert-warning alert-dismissible fade show';
        alertDiv.role = 'alert';
        alertDiv.textContent = 'Invalid email address';
        var closeButton = document.createElement('button');
        closeButton.type = 'button';
        closeButton.className = 'btn-close';
        closeButton.setAttribute('data-bs-dismiss', 'alert');
        closeButton.setAttribute('aria-label', 'Close');
        alertDiv.appendChild(closeButton);
        document.getElementById('liveAlertPlaceholder').appendChild(alertDiv);
        hideLoadingOverlay();
    }
  }
</script>
{% endblock %}